#blazor-error-ui {
    background: #0c0c0c;
    color: #ff4444;
    font-family: 'IBM Plex Mono', Consolas, 'Courier New', monospace;
    font-size: 14px;
    text-shadow: 0 0 5px;
    border-top: 1px solid #ff4444;
    bottom: 0;
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .reload {
        color: #33ff33;
        text-decoration: none;
    }

    #blazor-error-ui .reload:hover {
        color: #88ff88;
        text-decoration: underline;
    }

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.6rem;
        color: #33ff33;
    }

    #blazor-error-ui .dismiss:hover {
        color: #88ff88;
    }
